/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* GENERICS */

.container{
    max-width: 1100px;
    margin: 0 auto;
}

main{
    margin-top: 100px;
}

/* UTILITIES */

.flex{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
    margin: 5px;

}

.row{
    gap: 15px;
    flex-wrap: wrap;
    margin: 0 -10px;
}



.col{
    flex-basis:calc(100%/3 - 15px);
    min-height: 500px;
    margin-bottom: 30px;
}

.display-none{
    display: none;
}


/* HEADER */

header{
    width: 100%;
    background-color: #FF6900;
    height: 60px;
    color: white;
    box-shadow: 0 1px 3px #666;


    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}

/* NAV */
.nav{
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
  
}

.dress-size, .icon{
    list-style-type: none;
    color: white;
    display: flex;
    text-align: center;
    

}

.logo{
    height: 30px;
    display: block;

}


/* CARD */



.img-web{
    max-width: 100%;
    width: 100%;
}

.second-image{
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    display: none;
}

.card-image{
    position: relative;
    

}

.card-image:hover .second-image{
 display: block;
}


/* CLOTHES DESCRIPTION */

.brand{
    font-size: 14px;
    text-transform: capitalize;
}

.size{
    font-size: 16px;
    font-weight: 700;
    text-transform:uppercase;
}

.price{
    color: red;
    font-weight: 700;
    font-size: 14px;
}

.original-price{
    color: black;
    text-decoration: line-through;
    font-weight: 500;
}

/* LABEL */



.tag{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    display: inline-block;
}

.label{
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.discount{
    background-color: red;
}

.sustanaible{
    background-color: green;
}

.favourite{
    position:absolute ;
    top: 15px;
    right: 0;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;

    cursor: pointer;

}

.favourite:hover{
    color: red;
}


/* FOOTER */

footer{
    background-color: #1A1A1A;
    height: 60px;
    color: white;
    box-shadow: 0 1px 3px #666;
}


